<!DOCTYPE html>
<html lang="en">

<head>
  <title>TeckMeadow - Chat</title>

  <!-- Plugin styles -->
  <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

  <!-- App styles -->
  <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  <script>var currentUser = {
      username: "<%=currentUser.username%>",
      _id: "<%=currentUser._id%>",
      <%if (currentUser.isAdmin) {%>
      isAdmin: true
        <%} else {%>
          isAdmin: false
            <%}%>
      
    }
    var user = {
      username: "<%=user.username%>",
      _id: "<%=user._id%>",
      <%if (user.isAdmin) {%>
      isAdmin: true
        <%} else {%>
          isAdmin: false
            <%}%>
      } </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</head>

<body class="boxed-layout">
  <!-- begin::preloader-->
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>
  <!-- end::preloader -->

  <!-- BEGIN: Sidebar Group -->
  <div class="sidebar-group">
    <!-- BEGIN: User Menu -->
    <div class="sidebar" id="user-menu">
      <div class="py-4 text-center" data-backround-image="/assets/media/image/image1.jpg">
        <figure class="avatar avatar-lg mb-3 border-0">
          <img src="/uploads/<%=currentUser.image%>" class="rounded-circle" alt="image" />
        </figure>
        <h5 class="d-flex align-items-center justify-content-center">
          <%=currentUser.firstname%>&nbsp;<%=currentUser.lastname%>
        </h5>
        <div> <strong><%=currentUser.country%></strong></div>
      </div>
      <div class="card mb-0 card-body shadow-none">
        <div class="mb-4">
          <div class="list-group list-group-flush">
            <a href="/admin/profile" class="list-group-item p-l-r-0">Profile</a>
            <a href="/user/logout" class="list-group-item p-l-r-0 text-danger">Log
              Out!</a>
          </div>
        </div>

      </div>
    </div>
    <!-- END: User Menu -->

    <!-- BEGIN: Settings -->

    <!-- END: Settings -->
  </div>
  <!-- END: Sidebar Group -->

  <!-- begin::main -->
  <div class="layout-wrapper">
    <!-- begin::header -->
    <div class="header d-print-none">
      <div class="header-left">
        <div class="navigation-toggler">
          <a href="#" data-action="navigation-toggler">
            <i data-feather="menu"></i>
          </a>
        </div>
        <div class="header-logo">
          <a href="/">
            <img class="logo" src="/assets/media/image/logo.png" alt="logo" />
            <img class="logo-light" src="/assets/media/image/logo-light.png" alt="light logo" />
          </a>
        </div>
      </div>

      <div class="header-body">
        <div class="header-body-left">
          <div class="page-title">
            <h4>Admin Profile</h4>
          </div>
        </div>
        <div class="header-body-right">
          <ul class="navbar-nav">
            <!-- begin::header fullscreen -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                <i class="maximize" data-feather="maximize"></i>
                <i class="minimize" data-feather="minimize"></i>
              </a>
            </li>
            <!-- end::header fullscreen -->

            <!-- begin::header search -->

            <!-- end::header search -->

            <!-- begin::apps -->

            <!-- end::apps -->

            <!-- begin::header messages dropdown -->

            <!-- END: Cart -->

            <!-- begin::settings -->

            <!-- end::settings -->

            <!-- begin::user menu -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" title="User menu" data-sidebar-target="#user-menu">
                <span class="mr-2 d-sm-inline d-none"><%=currentUser.username%></span>
                <figure class="avatar avatar-sm">
                  <img src="/uploads/<%=currentUser.image%>" class="rounded-circle" alt="avatar" />
                </figure>
              </a>
            </li>
            <!-- end::user menu -->
          </ul>

          <!-- begin::mobile header toggler -->
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
              <a href="#" class="nav-link">
                <i data-feather="arrow-down"></i>
              </a>
            </li>
          </ul>
          <!-- end::mobile header toggler -->
        </div>
      </div>
    </div>
    <!-- end::header -->

    <div class="content-wrapper">
      <!-- begin::navigation -->
      <div class="navigation">
        <div class="navigation-menu-tab">
          <ul>

            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Projects" data-nav-target="#projects">
                <i data-feather="briefcase"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Apps" data-nav-target="#apps">
                <i data-feather="globe"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="User" data-nav-target="#user">
                <i data-feather="users"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="navigation-menu-body">
          <div class="navigation-menu-group">

            <div id="projects">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="briefcase"></i> Projects
                </li>
                <li>
                  <a href="/admin/project/" class="">All Projects</a>
                </li>
                <li>
                  <a href="/admin/project/status/completed">Completed Projects</a>
                </li>
                <li>
                  <a href="/admin/project/status/awaitingPayment">Projects Awaiting Payment</a>
                </li>
                <li>
                  <a href="/admin/project/status/submitted">Projects Submitted by Employees</a>
                </li>
                <li>
                  <a href="/admin/project/status/ongoing">Ongoing Projects</a>
                </li>
                <li>
                  <a href="/admin/project/status/cancelled">Cancelled Project</a>
                </li>
              </ul>
            </div>
            <div id="apps">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="globe"></i> Apps
                </li>
                <li>
                  <a href="/admin/user" class="active">
                    <span>Chat</span>
                  </a>
                </li>

              </ul>
            </div>
            <div id="user">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="users"></i> User
                </li>
                <li>
                  <a href="/admin/profile">Profile</a>
                </li>
                <li>
                  <a href="/admin/user" class="">User List</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end::navigation -->

      <div class="content-body">
        <div class="content">
          <div class="row no-gutters chat-block">
            <!-- begin::chat sidebar -->

            <!-- end::chat sidebar -->

            <!-- begin::chat content -->
            <div class="col-lg-12 chat-content">
              <!-- begin::chat header -->
              <div class="chat-header border-bottom">
                <div class="d-flex align-items-center">
                  <div class="pr-3">
                    <div class="avatar avatar-state-warning">
                      <img src="/assets/media/image/user/women_avatar2.jpg" class="rounded-circle" alt="image" />
                    </div>
                  </div>
                  <div>
                    <p class="mb-0"><%=user.username%></p>
                    <%if(user.isOnline){%>
                    <div class="m-0 small text-success">Online</div>
                    <%}else{%>
                    <div class="m-0 small text-success">Offline</div>
                    <%}%>
                    </div>
                    
                  </div>
                </div>
                <!-- end::chat header -->

                <!-- begin::messages -->
                <div id="messages" class="messages">
                <% user.messages.forEach(message=>{%>
                    <%if (message.sender=="admin"){%>
                    <div class="message-item me">
                      <%}else{%>

                      <div class="message-item">
                        <%}%>
                    <div class="message-item-content"><%=message.message%></div>
                      <span class="time small text-muted font-italic">
                        <%if ((Date.now() - message.dated)> (1000*60*60)) {%>
                        <%=message.dated.toDateString()%>

                        <%}else{%>
                        Just now
                        <%}%>
                      </span>
                  </div>
                <%})%>




                    </div>
                    <!-- end::messages -->

                    <!-- begin::chat footer -->
                    <div class="chat-footer border-top">
                      <form id="message-form" class="d-flex">


                        <div class="flex-grow-1">
                          <input type="text" class="form-control" placeholder="Write your message" id="m"
                            autocomplete="off" />
                        </div>
                        <div class="chat-footer-buttons d-flex">
                          <button class="btn btn-primary" type="submit">
                            <i data-feather="send" class="width-15 height-15"></i>
                          </button>

                        </div>
                      </form>
                    </div>
                    <!-- end::chat footer -->
                  </div>
                  <!-- begin::chat content -->
                </div>
              </div>

              <!-- begin::footer -->

              <!-- end::footer -->
            </div>
          </div>
        </div>
        <!-- end::main -->

        <!-- Plugin scripts -->
        <script src="/vendors/bundle.js"></script>

        <!-- App scripts -->
        <script src="/assets/js/app.min.js"></script>
</body>

</html>