<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TeckMeadow - where Technology Meets Spirituality</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

    <!-- App styles -->
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  </head>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>TeckMeadow - where Technology Meets Spirituality</title>

      <!-- Favicon -->
      <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

      <!-- Plugin styles -->
      <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

      <!-- App styles -->
      <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
    </head>

    <body class="boxed-layout">
      <!-- begin::preloader-->
      <div class="preloader">
        <div class="preloader-icon"></div>
      </div>
      <!-- end::preloader -->

      <!-- BEGIN: Sidebar Group -->
      <div class="sidebar-group">
        <!-- BEGIN: User Menu -->
        <div class="sidebar" id="user-menu">
          <div
            class="py-4 text-center"
            data-backround-image="/assets/media/image/image1.jpg"
          >
            <figure class="avatar avatar-lg mb-3 border-0">
              <img
                src="/assets/media/image/user/women_avatar1.jpg"
                class="rounded-circle"
                alt="image"
              />
            </figure>
            <h5 class="d-flex align-items-center justify-content-center">
              Roxana Roussell
            </h5>
            <div>Balance: <strong>$500</strong></div>
          </div>
          <div class="card mb-0 card-body shadow-none">
            <div class="mb-4">
              <div class="list-group list-group-flush">
                <a href="profile.html" class="list-group-item p-l-r-0"
                  >Profile</a
                >
                <a href="#" class="list-group-item p-l-r-0 d-flex">Followers</a>
                <a href="mail.html" class="list-group-item p-l-r-0 d-flex">
                  Inbox <span class="badge badge-danger ml-auto">2</span>
                </a>
                <a href="#" class="list-group-item p-l-r-0">Billing</a>
                <a
                  href="#"
                  class="list-group-item p-l-r-0"
                  data-sidebar-target="#settings"
                  >Settings</a
                >
                <a
                  href="login.html"
                  class="list-group-item p-l-r-0 text-danger"
                  data-sidebar-target="#settings"
                  >Sign Out!</a
                >
              </div>
            </div>
            <div class="mb-4">
              <h6 class="d-flex justify-content-between">
                Completed Tasks
                <span class="float-right">%68</span>
              </h6>
              <div class="progress" style="height:5px;">
                <div
                  class="progress-bar bg-secondary"
                  role="progressbar"
                  style="width: 68%;"
                  aria-valuenow="68"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="mb-4">
              <h6 class="d-flex justify-content-between">
                Storage
                <span>%25</span>
              </h6>
              <div class="progress" style="height: 5px;">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 40%;"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="mb-4">
              <h6>About</h6>
              <p class="text-muted mb-0">
                I love reading, traveling and discovering new things. You need
                to be happy in life.
              </p>
            </div>
            <div class="mb-4">
              <h6>City</h6>
              <p class="text-muted mb-0">Germany / Berlin</p>
            </div>
            <div class="mb-4">
              <h6>Social Links</h6>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#" class="btn btn-sm btn-floating btn-facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-sm btn-floating btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-sm btn-floating btn-dribbble">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-sm btn-floating btn-whatsapp">
                    <i class="fa fa-whatsapp"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-sm btn-floating btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END: User Menu -->

        <!-- BEGIN: Settings -->

        <!-- END: Settings -->
      </div>
      <!-- END: Sidebar Group -->

      <!-- begin::main -->
      <div class="layout-wrapper">
        <!-- begin::header -->
        <div class="header d-print-none">
          <div class="header-left">
            <div class="navigation-toggler">
              <a href="#" data-action="navigation-toggler">
                <i data-feather="menu"></i>
              </a>
            </div>
            <div class="header-logo">
              <a href="index-2.html">
                <img
                  class="logo"
                  src="/assets/media/image/logo.png"
                  alt="logo"
                />
                <img
                  class="logo-light"
                  src="/assets/media/image/logo-light.png"
                  alt="light logo"
                />
              </a>
            </div>
          </div>

          <div class="header-body">
            <div class="header-body-left">
              <div class="page-title">
                <h4>Chat</h4>
              </div>
            </div>
            <div class="header-body-right">
              <ul class="navbar-nav">
                <!-- begin::header fullscreen -->
                <li class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link"
                    title="Fullscreen"
                    data-toggle="fullscreen"
                  >
                    <i class="maximize" data-feather="maximize"></i>
                    <i class="minimize" data-feather="minimize"></i>
                  </a>
                </li>
                <!-- end::header fullscreen -->

                <!-- begin::header search -->

                <!-- end::header search -->

                <!-- begin::apps -->

                <!-- end::apps -->

                <!-- begin::header messages dropdown -->

                <!-- END: Cart -->

                <!-- begin::settings -->

                <!-- end::settings -->

                <!-- begin::user menu -->
                <li class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link"
                    title="User menu"
                    data-sidebar-target="#user-menu"
                  >
                    <span class="mr-2 d-sm-inline d-none"
                      ><%=currentUser.username%></span
                    >
                    <figure class="avatar avatar-sm">
                      <img
                        src="/uploads/<%=currentUser.image%>"
                        class="rounded-circle"
                        alt="avatar"
                      />
                    </figure>
                  </a>
                </li>
                <!-- end::user menu -->
              </ul>

              <!-- begin::mobile header toggler -->
              <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                  <a href="#" class="nav-link">
                    <i data-feather="arrow-down"></i>
                  </a>
                </li>
              </ul>
              <!-- end::mobile header toggler -->
            </div>
          </div>
        </div>
        <!-- end::header -->

        <div class="content-wrapper">
          <!-- begin::navigation -->
          <div class="navigation">
            <div class="navigation-menu-tab">
              <ul>
                <li>
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Analytics"
                    data-nav-target="#analytics"
                  >
                    <i data-feather="activity"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Projects"
                    data-nav-target="#projects"
                  >
                    <i data-feather="briefcase"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Apps"
                    data-nav-target="#apps"
                  >
                    <i data-feather="globe"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="User"
                    data-nav-target="#user"
                  >
                    <i data-feather="users"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="navigation-menu-body">
              <div class="navigation-menu-group">
                <div id="analytics">
                  <ul>
                    <li class="navigation-divider d-flex align-items-center">
                      <i class="mr-2" data-feather="activity"></i> Analytics
                    </li>
                    <li>
                      <a href="analytics-dashboard.html">Dashboard</a>
                    </li>
                    <li>
                      <a href="customers.html">Customers</a>
                    </li>
                    <li class="navigation-divider">Summary</li>
                    <li>
                      <a href="#" class="d-flex align-items-start">
                        <div>
                          <figure class="avatar mr-2">
                            <span
                              class="avatar-title bg-warning rounded-circle"
                            >
                              <i class="ti-bar-chart-alt"></i>
                            </span>
                          </figure>
                        </div>
                        <div>
                          <h6 class="mb-0">Total Sales</h6>
                          <p class="text-muted mb-0 small">This Mounth</p>
                          <h4 class="mb-0">$50.958</h4>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex align-items-start">
                        <div>
                          <figure class="avatar mr-2">
                            <span
                              class="avatar-title bg-success rounded-circle"
                            >
                              <i class="ti-world"></i>
                            </span>
                          </figure>
                        </div>
                        <div>
                          <h6 class="mb-0">Projects</h6>
                          <p class="text-muted mb-0 small">Today</p>
                          <h4 class="mb-0">35</h4>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex align-items-start">
                        <div>
                          <figure class="avatar mr-2">
                            <span class="avatar-title bg-info rounded-circle">
                              <i class="ti-user"></i>
                            </span>
                          </figure>
                        </div>
                        <div>
                          <h6 class="mb-0">Total Visitor</h6>
                          <p class="text-muted mb-0 small">Today</p>
                          <h4 class="mb-0">5.301</h4>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div id="projects">
                  <ul>
                    <li class="navigation-divider d-flex align-items-center">
                      <i class="mr-2" data-feather="briefcase"></i> Projects
                    </li>
                    <li>
                      <a href="projects-dashboard.html">Dashboard</a>
                    </li>
                    <li>
                      <a href="project-list.html">Project List</a>
                    </li>
                    <li>
                      <a href="project-grid.html">Project Grid</a>
                    </li>
                    <li>
                      <a href="project-detail.html">Project Detail</a>
                    </li>
                    <li>
                      <a href="clients.html">Clients</a>
                    </li>
                    <li class="navigation-divider">Summary</li>
                    <li>
                      <a href="#" class="d-flex align-items-start">
                        <div>
                          <figure class="avatar mr-2">
                            <span
                              class="avatar-title bg-warning rounded-circle"
                            >
                              <i class="ti-bar-chart-alt"></i>
                            </span>
                          </figure>
                        </div>
                        <div>
                          <h6 class="mb-0">Total Sales</h6>
                          <p class="text-muted mb-0 small">This Mounth</p>
                          <h4 class="mb-0">$50.958</h4>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex align-items-start">
                        <div>
                          <figure class="avatar mr-2">
                            <span
                              class="avatar-title bg-success rounded-circle"
                            >
                              <i class="ti-world"></i>
                            </span>
                          </figure>
                        </div>
                        <div>
                          <h6 class="mb-0">Projects</h6>
                          <p class="text-muted mb-0 small">Today</p>
                          <h4 class="mb-0">35</h4>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex align-items-start">
                        <div>
                          <figure class="avatar mr-2">
                            <span class="avatar-title bg-info rounded-circle">
                              <i class="ti-user"></i>
                            </span>
                          </figure>
                        </div>
                        <div>
                          <h6 class="mb-0">Total Visitor</h6>
                          <p class="text-muted mb-0 small">Today</p>
                          <h4 class="mb-0">5.301</h4>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div id="apps">
                  <ul>
                    <li class="navigation-divider d-flex align-items-center">
                      <i class="mr-2" data-feather="globe"></i> Apps
                    </li>
                    <li>
                      <a href="chat.html">
                        <span>Chat</span>
                        <span class="badge badge-danger">5</span>
                      </a>
                    </li>
                    <li>
                      <a href="mail.html">
                        <span>Mail</span>
                      </a>
                    </li>
                    <li>
                      <a href="todo-list.html">
                        <span>Todo List</span>
                        <span class="badge badge-warning">2</span>
                      </a>
                    </li>
                    <li>
                      <a href="file-manager.html">
                        <span>File Manager</span>
                      </a>
                    </li>
                    <li>
                      <a href="calendar.html">
                        <span>Calendar</span>
                      </a>
                    </li>
                    <li>
                      <a href="gallery.html">
                        <span>Gallery</span>
                      </a>
                    </li>
                    <li>
                      <a href="invoice.html">Invoice</a>
                    </li>
                    <li class="navigation-divider">Recent Contacts</li>
                    <li>
                      <div class="list-group list-group-flush">
                        <a
                          href="#"
                          class="list-group-item d-flex align-items-center"
                        >
                          <div>
                            <div class="avatar avatar-sm m-r-10">
                              <img
                                src="../../assets/media/image/user/man_avatar1.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                          </div>
                          <span>Valentine Maton</span>
                        </a>
                        <a
                          href="#"
                          class="list-group-item d-flex align-items-center"
                        >
                          <div>
                            <div class="avatar avatar-sm m-r-10">
                              <img
                                src="../../assets/media/image/user/women_avatar2.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                          </div>
                          <span>Holmes Cherryman</span>
                        </a>
                        <a
                          href="#"
                          class="list-group-item d-flex align-items-center"
                        >
                          <div>
                            <div class="avatar avatar-sm m-r-10">
                              <img
                                src="../../assets/media/image/user/women_avatar4.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                          </div>
                          <span>Kenneth Hune</span>
                        </a>
                        <a
                          href="#"
                          class="list-group-item d-flex align-items-center"
                        >
                          <div>
                            <div class="avatar avatar-sm m-r-10">
                              <img
                                src="../../assets/media/image/user/women_avatar3.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                          </div>
                          <span>Holmes Cherryman</span>
                        </a>
                        <a
                          href="#"
                          class="list-group-item d-flex align-items-center"
                        >
                          <div>
                            <div class="avatar avatar-sm m-r-10">
                              <img
                                src="../../assets/media/image/user/women_avatar5.jpg"
                                class="rounded-circle"
                                alt="image"
                              />
                            </div>
                          </div>
                          <span>Kenneth Hune</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div id="user">
                  <ul>
                    <li class="navigation-divider d-flex align-items-center">
                      <i class="mr-2" data-feather="users"></i> User
                    </li>
                    <li>
                      <a href="/user/<%=currentUser._id%>">Profile</a>
                    </li>

                    <li>
                      <a class="active" href="/user/<%=currentUser._id%>/edit"
                        >User Edit</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- end::navigation -->

          <div class="content-body">
            <div class="content">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-3">
                      <div
                        class="nav flex-lg-column flex-sm-row nav-pills"
                        id="v-pills-tab"
                        role="tablist"
                        aria-orientation="vertical"
                      >
                        <a
                          class="nav-link active"
                          id="v-pills-home-tab"
                          data-toggle="pill"
                          href="#v-pills-home"
                          role="tab"
                          aria-controls="v-pills-home"
                          aria-selected="true"
                          >Account</a
                        >
                        <a
                          class="nav-link"
                          id="v-pills-profile-tab"
                          data-toggle="pill"
                          href="#v-pills-profile"
                          role="tab"
                          aria-controls="v-pills-profile"
                          aria-selected="false"
                          >Information</a
                        >
                        <a
                          class="nav-link"
                          id="v-pills-messages-tab"
                          data-toggle="pill"
                          href="#v-pills-messages"
                          role="tab"
                          aria-controls="v-pills-messages"
                          aria-selected="false"
                          >Security</a
                        >
                        <a
                          class="nav-link"
                          id="v-pills-settings-tab"
                          data-toggle="pill"
                          href="#v-pills-settings"
                          role="tab"
                          aria-controls="v-pills-settings"
                          aria-selected="false"
                          >Social</a
                        >
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                      <div class="tab-content" id="v-pills-tabContent">
                        <div
                          class="tab-pane fade show active"
                          id="v-pills-home"
                          role="tabpanel"
                          aria-labelledby="v-pills-home-tab"
                        >
                          <div class="card">
                            <div class="card-body">
                              <h6 class="card-title">Account</h6>
                              <form
                                action="/user/<%=currentUser._id%>/edit"
                                method="POST"
                                enctype="multipart/form-data"
                              >
                                <div class="d-flex mb-3">
                                  <figure class="mr-3">
                                    <img
                                      width="100"
                                      class="rounded"
                                      src="/uploads/<%=currentUser.image%>"
                                      alt="..."
                                    />
                                  </figure>
                                  <div>
                                    <p>
                                      <%=currentUser.firstname%>&nbsp;<%=currentUser.lastname%>
                                    </p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Firstname</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="<%=currentUser.firstname%>"
                                        name="firstname"
                                        required
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label
                                        >Username
                                        <span class="text-muted"
                                          >(Can't Change)</span
                                        ></label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="<%=currentUser.username%>"
                                        name="username"
                                        readonly
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Country</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="<%=currentUser.country%>"
                                        name="country"
                                        required
                                      />
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Lastname</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="<%=currentUser.lastname%>"
                                        name="lastname"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Profile Photo </label>
                                      <div class="custom-file">
                                        <input
                                          type="file"
                                          class="custom-file-input"
                                          id="customFile"
                                          name="photo"
                                        />
                                        <label
                                          class="custom-file-label"
                                          for="customFile"
                                          >Upload Photo</label
                                        >
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <p>Gender</p>
                                      <div
                                        class="custom-control custom-radio custom-control-inline"
                                      >
                                        <input type="radio" id="customRadio1"
                                        name="gender"
                                        class="custom-control-input"
                                        value="male" <%if(currentUser.gender ==
                                        "male"){%> checked="checked" <%}%> />
                                        <label
                                          class="custom-control-label"
                                          for="customRadio1"
                                          >Male</label
                                        >
                                      </div>
                                      <div
                                        class="custom-control custom-radio custom-control-inline"
                                      >
                                        <input type="radio" id="customRadio2"
                                        name="gender" value="female"
                                        class="custom-control-input"
                                        <%if(currentUser.gender == "female"){%>
                                        checked="checked" <%}%> />
                                        <label
                                          class="custom-control-label"
                                          for="customRadio2"
                                          >Female</label
                                        >
                                      </div>
                                      <div
                                        class="custom-control custom-radio custom-control-inline"
                                      >
                                        <input type="radio" id="customRadio3"
                                        name="gender" value="other"
                                        class="custom-control-input"
                                        <%if(currentUser.gender == "other"){%>
                                        checked="checked" <%}%> />
                                        <label
                                          class="custom-control-label"
                                          for="customRadio3"
                                          >Intend Not to Tell</label
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <button class="btn btn-primary">
                                  Save Changes
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div
                          class="tab-pane fade"
                          id="v-pills-profile"
                          role="tabpanel"
                          aria-labelledby="v-pills-profile-tab"
                        >
                          <div class="card">
                            <div class="card-body">
                              <h6 class="card-title">Information</h6>
                              <form>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Birt Date</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="Roxana Roussell"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Phone</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="+65195892151"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Website</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="http://laborasyon.com/"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Languages</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="http://laborasyon.com/"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <p>Gender</p>
                                      <div
                                        class="custom-control custom-radio custom-control-inline"
                                      >
                                        <input
                                          type="radio"
                                          id="customRadio1"
                                          name="customRadio"
                                          class="custom-control-input"
                                        />
                                        <label
                                          class="custom-control-label"
                                          for="customRadio1"
                                          >Male</label
                                        >
                                      </div>
                                      <div
                                        class="custom-control custom-radio custom-control-inline"
                                      >
                                        <input
                                          type="radio"
                                          id="customRadio2"
                                          name="customRadio"
                                          class="custom-control-input"
                                        />
                                        <label
                                          class="custom-control-label"
                                          for="customRadio2"
                                          >Female</label
                                        >
                                      </div>
                                      <div
                                        class="custom-control custom-radio custom-control-inline"
                                      >
                                        <input
                                          type="radio"
                                          id="customRadio3"
                                          name="customRadio"
                                          class="custom-control-input"
                                        />
                                        <label
                                          class="custom-control-label"
                                          for="customRadio3"
                                          >Other</label
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Address Line 1</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="A-65, Belvedere Streets"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Address Line 2</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value=""
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Post Code</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="1868"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>City</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="New York"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>State</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="New York"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Country</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="United States"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <button class="btn btn-primary">
                                  Save Changes
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div
                          class="tab-pane fade"
                          id="v-pills-messages"
                          role="tabpanel"
                          aria-labelledby="v-pills-messages-tab"
                        >
                          <div class="card">
                            <div class="card-body">
                              <h6 class="card-title">Security</h6>
                              <form>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Old Password</label>
                                      <input
                                        type="password"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>New Password</label>
                                      <input
                                        type="password"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>New Password Repeat</label>
                                      <input
                                        type="password"
                                        class="form-control"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <button class="btn btn-primary">
                                  Save Changes
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div
                          class="tab-pane fade"
                          id="v-pills-settings"
                          role="tabpanel"
                          aria-labelledby="v-pills-settings-tab"
                        >
                          <div class="card">
                            <div class="card-body">
                              <h6 class="card-title">Social</h6>
                              <form>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Twitter</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="https://twitter.com/roxana-roussell"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>Facebook</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="https://www.facebook.com/roxana-roussell"
                                      />
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Instagram</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="https://www.instagram.com/roxana-roussell/"
                                      />
                                    </div>
                                    <div class="form-group">
                                      <label>GitHub</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        value="https://github.com/roxana-roussell"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <button class="btn btn-primary">
                                  Save Changes
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- begin::footer -->
            <footer class="content-footer">
              <div>
                © 2020 TeckMeadow
              </div>
            </footer>
            <!-- end::footer -->
          </div>
        </div>
      </div>
      <!-- end::main -->

      <!-- Plugin scripts -->
      <script src="/vendors/bundle.js"></script>

      <!-- App scripts -->
      <script src="/assets/js/app.min.js"></script>
    </body>
  </html>
</html>
