<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TeckMeadow</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

    <!-- App styles -->
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  </head>
  <body class="boxed-layout">
    <!-- begin::preloader-->
    <div class="preloader">
      <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->

    <!-- BEGIN: Sidebar Group -->
    <div class="sidebar-group">
      <!-- BEGIN: User Menu -->
      <div class="sidebar" id="user-menu">
        <div
          class="py-4 text-center"
          data-backround-image="/assets/media/image/image1.jpg"
        >
          <figure class="avatar avatar-lg mb-3 border-0">
            <img
              src="/assets/media/image/user/women_avatar1.jpg"
              class="rounded-circle"
              alt="image"
            />
          </figure>
          <h5 class="d-flex align-items-center justify-content-center">
            Roxana Roussell
          </h5>
          <div>Balance: <strong>$500</strong></div>
        </div>
        <div class="card mb-0 card-body shadow-none">
          <div class="mb-4">
            <div class="list-group list-group-flush">
              <a href="profile.html" class="list-group-item p-l-r-0">Profile</a>
              <a href="#" class="list-group-item p-l-r-0 d-flex">Followers</a>
              <a href="mail.html" class="list-group-item p-l-r-0 d-flex">
                Inbox <span class="badge badge-danger ml-auto">2</span>
              </a>
              <a href="#" class="list-group-item p-l-r-0">Billing</a>
              <a
                href="#"
                class="list-group-item p-l-r-0"
                data-sidebar-target="#settings"
                >Settings</a
              >
              <a
                href="login.html"
                class="list-group-item p-l-r-0 text-danger"
                data-sidebar-target="#settings"
                >Sign Out!</a
              >
            </div>
          </div>
          <div class="mb-4">
            <h6 class="d-flex justify-content-between">
              Completed Tasks
              <span class="float-right">%68</span>
            </h6>
            <div class="progress" style="height:5px;">
              <div
                class="progress-bar bg-secondary"
                role="progressbar"
                style="width: 68%;"
                aria-valuenow="68"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="mb-4">
            <h6 class="d-flex justify-content-between">
              Storage
              <span>%25</span>
            </h6>
            <div class="progress" style="height: 5px;">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 40%;"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="mb-4">
            <h6>About</h6>
            <p class="text-muted mb-0">
              I love reading, traveling and discovering new things. You need to
              be happy in life.
            </p>
          </div>
          <div class="mb-4">
            <h6>City</h6>
            <p class="text-muted mb-0">Germany / Berlin</p>
          </div>
          <div class="mb-4">
            <h6>Social Links</h6>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#" class="btn btn-sm btn-floating btn-facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-sm btn-floating btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-sm btn-floating btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-sm btn-floating btn-whatsapp">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-sm btn-floating btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END: User Menu -->

      <!-- BEGIN: Settings -->

      <!-- END: Settings -->
    </div>
    <!-- END: Sidebar Group -->

    <!-- begin::main -->
    <div class="layout-wrapper">
      <!-- begin::header -->
      <div class="header d-print-none">
        <div class="header-left">
          <div class="navigation-toggler">
            <a href="#" data-action="navigation-toggler">
              <i data-feather="menu"></i>
            </a>
          </div>
          <div class="header-logo">
            <a href="index-2.html">
              <img class="logo" src="/assets/media/image/logo.png" alt="logo" />
              <img
                class="logo-light"
                src="/assets/media/image/logo-light.png"
                alt="light logo"
              />
            </a>
          </div>
        </div>

        <div class="header-body">
          <div class="header-body-left">
            <div class="page-title">
              <h4>Chat</h4>
            </div>
          </div>
          <div class="header-body-right">
            <ul class="navbar-nav">
              <!-- begin::header fullscreen -->
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link"
                  title="Fullscreen"
                  data-toggle="fullscreen"
                >
                  <i class="maximize" data-feather="maximize"></i>
                  <i class="minimize" data-feather="minimize"></i>
                </a>
              </li>
              <!-- end::header fullscreen -->

              <!-- begin::header search -->

              <!-- end::header search -->

              <!-- begin::apps -->

              <!-- end::apps -->

              <!-- begin::header messages dropdown -->

              <!-- END: Cart -->

              <!-- begin::settings -->

              <!-- end::settings -->

              <!-- begin::user menu -->
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link"
                  title="User menu"
                  data-sidebar-target="#user-menu"
                >
                  <span class="mr-2 d-sm-inline d-none"
                    ><%=currentUser.username%></span
                  >
                  <figure class="avatar avatar-sm">
                    <img
                      src="/assets/media/image/user/women_avatar1.jpg"
                      class="rounded-circle"
                      alt="avatar"
                    />
                  </figure>
                </a>
              </li>
              <!-- end::user menu -->
            </ul>

            <!-- begin::mobile header toggler -->
            <ul class="navbar-nav d-flex align-items-center">
              <li class="nav-item header-toggler">
                <a href="#" class="nav-link">
                  <i data-feather="arrow-down"></i>
                </a>
              </li>
            </ul>
            <!-- end::mobile header toggler -->
          </div>
        </div>
      </div>
      <!-- end::header -->

      <div class="content-wrapper">
        <!-- begin::navigation -->
        <div class="navigation">
          <div class="navigation-menu-tab">
            <ul>
              <li>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Analytics"
                  data-nav-target="#analytics"
                >
                  <i data-feather="activity"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Projects"
                  data-nav-target="#projects"
                >
                  <i data-feather="briefcase"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Apps"
                  data-nav-target="#apps"
                >
                  <i data-feather="globe"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="User"
                  data-nav-target="#user"
                >
                  <i data-feather="users"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="navigation-menu-body">
            <div class="navigation-menu-group">
              <div id="analytics">
                <ul>
                  <li class="navigation-divider d-flex align-items-center">
                    <i class="mr-2" data-feather="activity"></i> Analytics
                  </li>
                  <li>
                    <a href="analytics-dashboard.html">Dashboard</a>
                  </li>
                  <li>
                    <a href="customers.html">Customers</a>
                  </li>
                  <li class="navigation-divider">Summary</li>
                  <li>
                    <a href="#" class="d-flex align-items-start">
                      <div>
                        <figure class="avatar mr-2">
                          <span class="avatar-title bg-warning rounded-circle">
                            <i class="ti-bar-chart-alt"></i>
                          </span>
                        </figure>
                      </div>
                      <div>
                        <h6 class="mb-0">Total Sales</h6>
                        <p class="text-muted mb-0 small">This Mounth</p>
                        <h4 class="mb-0">$50.958</h4>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex align-items-start">
                      <div>
                        <figure class="avatar mr-2">
                          <span class="avatar-title bg-success rounded-circle">
                            <i class="ti-world"></i>
                          </span>
                        </figure>
                      </div>
                      <div>
                        <h6 class="mb-0">Projects</h6>
                        <p class="text-muted mb-0 small">Today</p>
                        <h4 class="mb-0">35</h4>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex align-items-start">
                      <div>
                        <figure class="avatar mr-2">
                          <span class="avatar-title bg-info rounded-circle">
                            <i class="ti-user"></i>
                          </span>
                        </figure>
                      </div>
                      <div>
                        <h6 class="mb-0">Total Visitor</h6>
                        <p class="text-muted mb-0 small">Today</p>
                        <h4 class="mb-0">5.301</h4>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="projects">
                <ul>
                  <li class="navigation-divider d-flex align-items-center">
                    <i class="mr-2" data-feather="briefcase"></i> Projects
                  </li>
                  <li>
                    <a href="projects-dashboard.html">Dashboard</a>
                  </li>
                  <li>
                    <a href="project-list.html">Project List</a>
                  </li>
                  <li>
                    <a href="project-grid.html">Project Grid</a>
                  </li>
                  <li>
                    <a href="project-detail.html">Project Detail</a>
                  </li>
                  <li>
                    <a href="clients.html">Clients</a>
                  </li>
                  <li class="navigation-divider">Summary</li>
                  <li>
                    <a href="#" class="d-flex align-items-start">
                      <div>
                        <figure class="avatar mr-2">
                          <span class="avatar-title bg-warning rounded-circle">
                            <i class="ti-bar-chart-alt"></i>
                          </span>
                        </figure>
                      </div>
                      <div>
                        <h6 class="mb-0">Total Sales</h6>
                        <p class="text-muted mb-0 small">This Mounth</p>
                        <h4 class="mb-0">$50.958</h4>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex align-items-start">
                      <div>
                        <figure class="avatar mr-2">
                          <span class="avatar-title bg-success rounded-circle">
                            <i class="ti-world"></i>
                          </span>
                        </figure>
                      </div>
                      <div>
                        <h6 class="mb-0">Projects</h6>
                        <p class="text-muted mb-0 small">Today</p>
                        <h4 class="mb-0">35</h4>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex align-items-start">
                      <div>
                        <figure class="avatar mr-2">
                          <span class="avatar-title bg-info rounded-circle">
                            <i class="ti-user"></i>
                          </span>
                        </figure>
                      </div>
                      <div>
                        <h6 class="mb-0">Total Visitor</h6>
                        <p class="text-muted mb-0 small">Today</p>
                        <h4 class="mb-0">5.301</h4>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="apps">
                <ul>
                  <li class="navigation-divider d-flex align-items-center">
                    <i class="mr-2" data-feather="globe"></i> Apps
                  </li>
                  <li>
                    <a class="active" href="chat.html">
                      <span>Chat</span>
                      <span class="badge badge-danger">5</span>
                    </a>
                  </li>
                  <li>
                    <a href="mail.html">
                      <span>Mail</span>
                    </a>
                  </li>
                  <li>
                    <a href="todo-list.html">
                      <span>Todo List</span>
                      <span class="badge badge-warning">2</span>
                    </a>
                  </li>
                  <li>
                    <a href="file-manager.html">
                      <span>File Manager</span>
                    </a>
                  </li>
                  <li>
                    <a href="calendar.html">
                      <span>Calendar</span>
                    </a>
                  </li>
                  <li>
                    <a href="gallery.html">
                      <span>Gallery</span>
                    </a>
                  </li>
                  <li>
                    <a href="invoice.html">Invoice</a>
                  </li>
                  <li class="navigation-divider">Recent Contacts</li>
                  <li>
                    <div class="list-group list-group-flush">
                      <a
                        href="#"
                        class="list-group-item d-flex align-items-center"
                      >
                        <div>
                          <div class="avatar avatar-sm m-r-10">
                            <img
                              src="../../assets/media/image/user/man_avatar1.jpg"
                              class="rounded-circle"
                              alt="image"
                            />
                          </div>
                        </div>
                        <span>Valentine Maton</span>
                      </a>
                      <a
                        href="#"
                        class="list-group-item d-flex align-items-center"
                      >
                        <div>
                          <div class="avatar avatar-sm m-r-10">
                            <img
                              src="../../assets/media/image/user/women_avatar2.jpg"
                              class="rounded-circle"
                              alt="image"
                            />
                          </div>
                        </div>
                        <span>Holmes Cherryman</span>
                      </a>
                      <a
                        href="#"
                        class="list-group-item d-flex align-items-center"
                      >
                        <div>
                          <div class="avatar avatar-sm m-r-10">
                            <img
                              src="../../assets/media/image/user/women_avatar4.jpg"
                              class="rounded-circle"
                              alt="image"
                            />
                          </div>
                        </div>
                        <span>Kenneth Hune</span>
                      </a>
                      <a
                        href="#"
                        class="list-group-item d-flex align-items-center"
                      >
                        <div>
                          <div class="avatar avatar-sm m-r-10">
                            <img
                              src="../../assets/media/image/user/women_avatar3.jpg"
                              class="rounded-circle"
                              alt="image"
                            />
                          </div>
                        </div>
                        <span>Holmes Cherryman</span>
                      </a>
                      <a
                        href="#"
                        class="list-group-item d-flex align-items-center"
                      >
                        <div>
                          <div class="avatar avatar-sm m-r-10">
                            <img
                              src="../../assets/media/image/user/women_avatar5.jpg"
                              class="rounded-circle"
                              alt="image"
                            />
                          </div>
                        </div>
                        <span>Kenneth Hune</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="user">
                <ul>
                  <li class="navigation-divider d-flex align-items-center">
                    <i class="mr-2" data-feather="users"></i> User
                  </li>
                  <li>
                    <a href="/user/<%=currentUser._id%>">Profile</a>
                  </li>
                  <li>
                    <a href="/user/<%=currentUser._id%>/edit">User List</a>
                  </li>
                  <li>
                    <a href="/admin/user">User Edit</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end::navigation -->

        <div class="content-body">
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <img
                        src="/assets/media/image/image1.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body text-center m-t-70-minus">
                        <figure class="avatar avatar-xl m-b-20">
                          <img
                            src="/uploads/<%=user.image%>"
                            class="rounded-circle"
                            alt="..."
                          />
                        </figure>
                        <h5>
                          <%=user.firstname%>&nbsp;<%=user.lastname%>
                        </h5>
                        <p class="text-muted"><%=user.country%></p>

                        <a href="#" class="btn btn-outline-primary">
                          <i class="mr-2" data-feather="edit-2"></i> Edit
                          Profile
                        </a>
                      </div>
                      <hr class="m-0" />
                      <div class="card-body">
                        <div class="row text-center">
                          <div class="col-4 text-info">
                            <h4 class="font-weight-bold">291</h4>
                            <span>Post</span>
                          </div>
                          <div class="col-4 text-success">
                            <h4 class="font-weight-bold">10.596</h4>
                            <span>Followers</span>
                          </div>
                          <div class="col-4 text-warning">
                            <h4 class="font-weight-bold">7.896</h4>
                            <span>Likes</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <h6
                          class="card-title d-flex justify-content-between align-items-center"
                        >
                          Information
                          <a href="#" class="btn btn-outline-light btn-sm">
                            <i data-feather="edit-2" class="mr-2"></i> Edit
                          </a>
                        </h6>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">First Name:</div>
                          <div class="col-6">Johnatan</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">Last Name:</div>
                          <div class="col-6">Due</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">Age:</div>
                          <div class="col-6">26</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">Position:</div>
                          <div class="col-6">Web Designer</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">City:</div>
                          <div class="col-6">New York, USA</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">Address:</div>
                          <div class="col-6">228 Park Ave Str.</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">Phone:</div>
                          <div class="col-6">+1-202-555-0134</div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-6 text-muted">Email:</div>
                          <div class="col-6">johndue@gmail.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">
                        <form>
                          <div class="form-group">
                            <textarea
                              rows="2"
                              class="form-control"
                              placeholder="Create something"
                            ></textarea>
                          </div>
                          <div class="text-right">
                            <ul class="list-inline">
                              <li class="list-inline-item">
                                <a
                                  href="#"
                                  data-toggle="tooltip"
                                  title="Add Image"
                                  class="btn btn-outline-light"
                                >
                                  <i data-feather="image"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a
                                  href="#"
                                  data-toggle="tooltip"
                                  title="Add Video"
                                  class="btn btn-outline-light"
                                >
                                  <i data-feather="video"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a
                                  href="#"
                                  data-toggle="tooltip"
                                  title="Add File"
                                  class="btn btn-outline-light"
                                >
                                  <i data-feather="file"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <button class="btn btn-primary">Submit</button>
                              </li>
                            </ul>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <ul
                          class="nav nav-pills flex-column flex-sm-row"
                          id="myTab"
                          role="tablist"
                        >
                          <li class="flex-sm-fill text-sm-center nav-item">
                            <a
                              class="nav-link active"
                              id="home-tab"
                              data-toggle="tab"
                              href="#home"
                              role="tab"
                              aria-selected="true"
                              >Posts</a
                            >
                          </li>
                          <li class="flex-sm-fill text-sm-center nav-item">
                            <a
                              class="nav-link"
                              id="timeline-tab"
                              data-toggle="tab"
                              href="#timeline"
                              role="tab"
                              aria-selected="true"
                              >Timeline</a
                            >
                          </li>
                          <li class="flex-sm-fill text-sm-center nav-item">
                            <a
                              class="nav-link"
                              id="connections-tab1"
                              data-toggle="tab"
                              href="#connections"
                              role="tab"
                              aria-selected="false"
                            >
                              Connections
                              <span class="badge badge-light m-l-5">6</span>
                            </a>
                          </li>
                          <li class="flex-sm-fill text-sm-center nav-item">
                            <a
                              class="nav-link"
                              id="earnings-tab"
                              data-toggle="tab"
                              href="#earnings"
                              role="tab"
                              aria-selected="false"
                              >Earnings</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="tab-content" id="myTabContent">
                      <div
                        class="tab-pane fade show active"
                        id="home"
                        role="tabpanel"
                      >
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex mb-3">
                              <div class="d-flex align-items-center">
                                <figure class="avatar avatar-sm mr-3">
                                  <img
                                    src="../../assets/media/image/user/man_avatar3.jpg"
                                    class="rounded-circle"
                                    alt="..."
                                  />
                                </figure>
                                <div class="d-inline-block">
                                  <div>
                                    <strong>Martina Ash</strong> shared a link
                                  </div>
                                  <small class="text-muted">7 hours ago</small>
                                </div>
                              </div>
                              <div class="dropdown ml-auto">
                                <a
                                  href="#"
                                  class="btn btn-outline-light btn-sm"
                                  data-toggle="dropdown"
                                >
                                  <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#" class="dropdown-item">Share</a>
                                  <a href="#" class="dropdown-item">Edit</a>
                                  <a href="#" class="dropdown-item">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Amet dolor eos id ipsa nobis
                              omnis, tenetur? Dolor officiis omnis quo?
                            </p>
                            <a href="#">
                              <div
                                class="row no-gutters border border-radius-1"
                              >
                                <div class="col-3">
                                  <img
                                    src="../../assets/media/image/photo8.jpg"
                                    class="img-fluid"
                                    alt="image"
                                  />
                                </div>
                                <div class="col-9 p-3">
                                  <h5>Algolia Integration</h5>
                                  <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cumque dolor, eos
                                    laudantium maxime perferendis veritatis.
                                  </p>
                                  <small class="text-primary"
                                    >https://themeforest.net/</small
                                  >
                                </div>
                              </div>
                            </a>
                            <div
                              class="d-flex justify-content-between align-items-center mt-4"
                            >
                              <div>
                                <a href="#" title="Like" data-toggle="tooltip">
                                  <i class="fa fa-heart text-danger"></i>
                                  300
                                </a>
                              </div>
                              <div>
                                <a
                                  href="#"
                                  title="Comments"
                                  data-toggle="tooltip"
                                >
                                  <i
                                    data-feather="message-square"
                                    class="width-17 height-17 mr-1"
                                  ></i>
                                  3
                                </a>
                                <a
                                  href="#"
                                  class="ml-3"
                                  title="Share"
                                  data-toggle="tooltip"
                                >
                                  <i
                                    data-feather="share-2"
                                    class="width-17 height-17 mr-1"
                                  ></i>
                                  1
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex mb-3">
                              <div class="d-flex align-items-center">
                                <figure class="avatar avatar-sm mr-3">
                                  <img
                                    src="../../assets/media/image/user/man_avatar3.jpg"
                                    class="rounded-circle"
                                    alt="..."
                                  />
                                </figure>
                                <div class="d-inline-block">
                                  <div>
                                    <strong>Martina Ash</strong> shared a link
                                  </div>
                                  <small class="text-muted">7 hours ago</small>
                                </div>
                              </div>
                              <div class="dropdown ml-auto">
                                <a
                                  href="#"
                                  class="btn btn-outline-light btn-sm"
                                  data-toggle="dropdown"
                                >
                                  <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#" class="dropdown-item">Share</a>
                                  <a href="#" class="dropdown-item">Edit</a>
                                  <a href="#" class="dropdown-item">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Aliquam doloremque eveniet illo
                              minus nemo obcaecati, voluptatem? At corporis cum
                              dolorem eos impedit in magni officiis quibusdam,
                              ratione sequi totam voluptatum.
                            </p>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Amet dolor eos id ipsa nobis
                              omnis, tenetur? Dolor officiis omnis quo?
                            </p>
                            <div
                              class="d-flex justify-content-between align-items-center mt-4"
                            >
                              <div>
                                <a href="#" title="Like" data-toggle="tooltip">
                                  <i class="fa fa-heart-o"></i>
                                  163
                                </a>
                              </div>
                              <div>
                                <a
                                  href="#"
                                  title="Comments"
                                  data-toggle="tooltip"
                                >
                                  <i
                                    data-feather="message-square"
                                    class="width-17 height-17 mr-1"
                                  ></i>
                                  13
                                </a>
                                <a
                                  href="#"
                                  class="ml-3"
                                  title="Share"
                                  data-toggle="tooltip"
                                >
                                  <i
                                    data-feather="share-2"
                                    class="width-17 height-17 mr-1"
                                  ></i>
                                  4
                                </a>
                              </div>
                            </div>
                            <!-- People who wrote, liked, or shared a comment -->
                            <div class="mt-4">
                              <div class="card shadow-none card-body border">
                                <div class="d-flex mb-3">
                                  <div class="d-flex align-items-center">
                                    <figure class="avatar avatar-sm mr-3">
                                      <img
                                        src="../../assets/media/image/user/man_avatar1.jpg"
                                        class="rounded-circle"
                                        alt="..."
                                      />
                                    </figure>
                                    <div class="d-inline-block">
                                      <div>
                                        <strong>Martina Ash</strong> shared a
                                        link
                                      </div>
                                      <small class="text-muted"
                                        >7 hours ago</small
                                      >
                                    </div>
                                  </div>
                                  <div class="dropdown ml-auto">
                                    <a
                                      href="#"
                                      class="btn btn-outline-light btn-sm"
                                      data-toggle="dropdown"
                                    >
                                      <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    <div
                                      class="dropdown-menu dropdown-menu-right"
                                    >
                                      <a href="#" class="dropdown-item"
                                        >Share</a
                                      >
                                      <a href="#" class="dropdown-item">Edit</a>
                                      <a href="#" class="dropdown-item"
                                        >Delete</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Delectus, ducimus?
                                </p>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <div>
                                    <a
                                      href="#"
                                      title="Like"
                                      data-toggle="tooltip"
                                    >
                                      <i class="fa fa-heart text-danger"></i>
                                      37
                                    </a>
                                    <a href="#" class="ml-2 link-1">
                                      Reply
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="card shadow-none card-body border">
                                <div class="d-flex mb-3">
                                  <div class="d-flex align-items-center">
                                    <figure class="avatar avatar-sm mr-3">
                                      <img
                                        src="../../assets/media/image/user/women_avatar2.jpg"
                                        class="rounded-circle"
                                        alt="..."
                                      />
                                    </figure>
                                    <div class="d-inline-block">
                                      <div>
                                        <strong>Martina Ash</strong> shared a
                                        link
                                      </div>
                                      <small class="text-muted"
                                        >7 hours ago</small
                                      >
                                    </div>
                                  </div>
                                  <div class="dropdown ml-auto">
                                    <a
                                      href="#"
                                      class="btn btn-outline-light btn-sm"
                                      data-toggle="dropdown"
                                    >
                                      <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    <div
                                      class="dropdown-menu dropdown-menu-right"
                                    >
                                      <a href="#" class="dropdown-item"
                                        >Share</a
                                      >
                                      <a href="#" class="dropdown-item">Edit</a>
                                      <a href="#" class="dropdown-item"
                                        >Delete</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. A, ad, assumenda at atque
                                  corporis culpa earum id illum impedit laborum
                                  maxime minus nisi omnis quod sequi suscipit
                                  totam veritatis voluptatum.
                                </p>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <div>
                                    <a
                                      href="#"
                                      title="Like"
                                      data-toggle="tooltip"
                                    >
                                      <i class="fa fa-heart-o"></i>
                                      51
                                    </a>
                                    <a href="#" class="ml-2 link-1">
                                      Reply
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <form class="d-flex">
                                <div>
                                  <figure class="avatar avatar-sm mr-3">
                                    <img
                                      src="../../assets/media/image/user/women_avatar2.jpg"
                                      class="rounded-circle"
                                      alt="..."
                                    />
                                  </figure>
                                </div>
                                <div class="flex-grow-1">
                                  <div class="form-group">
                                    <textarea
                                      rows="2"
                                      class="form-control"
                                      placeholder="Post comment for @Martina"
                                    ></textarea>
                                  </div>
                                  <button class="btn btn-primary">
                                    Submit
                                  </button>
                                </div>
                              </form>
                            </div>
                            <!-- ./ People who wrote, liked, or shared a comment -->
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex mb-3">
                              <div class="d-flex align-items-center">
                                <figure class="avatar avatar-sm mr-3">
                                  <img
                                    src="../../assets/media/image/user/man_avatar3.jpg"
                                    class="rounded-circle"
                                    alt="..."
                                  />
                                </figure>
                                <div class="d-inline-block">
                                  <div>Anna Mull</div>
                                  <small class="text-muted">7 hours ago</small>
                                </div>
                              </div>
                              <div class="dropdown ml-auto">
                                <a
                                  href="#"
                                  class="btn btn-outline-light btn-sm"
                                  data-toggle="dropdown"
                                >
                                  <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#" class="dropdown-item">Share</a>
                                  <a href="#" class="dropdown-item">Edit</a>
                                  <a href="#" class="dropdown-item">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Amet dolor eos id ipsa nobis
                              omnis, tenetur? Dolor officiis omnis quo?
                            </p>
                            <div class="row row-xs">
                              <div class="col-6">
                                <img
                                  src="../../assets/media/image/photo9.jpg"
                                  class="w-100 border-radius-1"
                                  alt="image"
                                />
                              </div>
                              <div class="col-6">
                                <img
                                  src="../../assets/media/image/photo10.jpg"
                                  class="w-100 border-radius-1"
                                  alt="image"
                                />
                              </div>
                            </div>
                            <div
                              class="d-flex justify-content-between align-items-center mt-4"
                            >
                              <div>
                                <a href="#" title="Like" data-toggle="tooltip">
                                  <i class="fa fa-heart-o"></i>
                                  521
                                </a>
                              </div>
                              <div>
                                <a
                                  href="#"
                                  title="Comments"
                                  data-toggle="tooltip"
                                >
                                  <i
                                    data-feather="message-square"
                                    class="width-17 height-17 mr-1"
                                  ></i>
                                  33
                                </a>
                                <a
                                  href="#"
                                  class="ml-3"
                                  title="Share"
                                  data-toggle="tooltip"
                                >
                                  <i
                                    data-feather="share-2"
                                    class="width-17 height-17 mr-1"
                                  ></i>
                                  14
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="tab-pane fade show"
                        id="timeline"
                        role="tabpanel"
                      >
                        <div class="card">
                          <div class="card-body">
                            <h6 class="card-title">Timeline</h6>
                            <div class="timeline">
                              <div class="timeline-item">
                                <div>
                                  <a href="#">
                                    <figure
                                      class="avatar avatar-sm mr-3 bring-forward"
                                    >
                                      <img
                                        src="../../assets/media/image/user/women_avatar4.jpg"
                                        class="rounded-circle"
                                        alt="image"
                                      />
                                    </figure>
                                  </a>
                                </div>
                                <div>
                                  <h6
                                    class="d-flex justify-content-between mb-4"
                                  >
                                    <span>
                                      <a href="#">Martina Ash</a> shared a link
                                    </span>
                                    <span class="text-muted font-weight-normal"
                                      >Tue 8:17pm</span
                                    >
                                  </h6>
                                  <a href="#">
                                    <div class="mb-3 border border-radius-1">
                                      <div class="row no-gutters">
                                        <div class="col-2">
                                          <img
                                            src="../../assets/media/image/photo6.jpg"
                                            class="w-100"
                                            alt="image"
                                          />
                                        </div>
                                        <div class="col-10 p-3">
                                          <h5 class="line-height-16">
                                            Connection title
                                          </h5>
                                          Lorem ipsum dolor sit amet,
                                          consectetur adipisicing elit. Facilis,
                                          voluptatibus.
                                        </div>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="timeline-item">
                                <div>
                                  <figure
                                    class="avatar avatar-sm mr-3 bring-forward"
                                  >
                                    <span
                                      class="avatar-title bg-success-bright text-success rounded-circle"
                                      >C</span
                                    >
                                  </figure>
                                </div>
                                <div>
                                  <h6
                                    class="d-flex justify-content-between mb-4"
                                  >
                                    <span>
                                      <a href="#">Jonny Richie</a> shared a post
                                    </span>
                                    <span class="text-muted font-weight-normal"
                                      >Tue 8:17pm</span
                                    >
                                  </h6>
                                  <a href="#">
                                    <div
                                      class="mb-3 border p-3 border-radius-1"
                                    >
                                      Lorem ipsum dolor sit amet, consectetur
                                      adipisicing elit. Ab aliquid aperiam
                                      commodi culpa debitis deserunt enim itaque
                                      laborum minima neque nostrum pariatur
                                      perspiciatis, placeat quidem, ratione
                                      recusandae reiciendis sapiente, ut
                                      veritatis vitae. Beatae dolore hic odio!
                                      Esse officiis quidem voluptate.
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="timeline-item">
                                <div>
                                  <figure
                                    class="avatar avatar-sm mr-3 bring-forward"
                                  >
                                    <span
                                      class="avatar-title bg-info-bright text-info rounded-circle"
                                      >K</span
                                    >
                                  </figure>
                                </div>
                                <div>
                                  <h6
                                    class="d-flex justify-content-between mb-4"
                                  >
                                    <span>
                                      <a href="#">Jonny Richie</a> attached file
                                    </span>
                                    <span class="text-muted font-weight-normal"
                                      >Tue 8:17pm</span
                                    >
                                  </h6>
                                  <a href="#">
                                    <div
                                      class="mb-3 border p-3 border-radius-1"
                                    >
                                      <i class="fa fa-file-pdf-o mr-2"></i>
                                      filename12334.pdf
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="timeline-item">
                                <div>
                                  <figure
                                    class="avatar avatar-sm mr-3 bring-forward"
                                  >
                                    <span
                                      class="avatar-title bg-warning-bright text-warning rounded-circle"
                                    >
                                      <i class="ti-image"></i>
                                    </span>
                                  </figure>
                                </div>
                                <div>
                                  <h6
                                    class="d-flex justify-content-between mb-4"
                                  >
                                    <span>
                                      <a href="#">Jonny Richie</a> shared files
                                    </span>
                                    <span class="text-muted font-weight-normal"
                                      >Tue 8:17pm</span
                                    >
                                  </h6>
                                  <div class="row row-xs">
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                      <figure>
                                        <img
                                          src="../../assets/media/image/portfolio-five.jpg"
                                          class="w-100 border-radius-1"
                                          alt="image"
                                        />
                                      </figure>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                      <figure>
                                        <img
                                          src="../../assets/media/image/portfolio-one.jpg"
                                          class="w-100 border-radius-1"
                                          alt="image"
                                        />
                                      </figure>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                      <figure>
                                        <img
                                          src="../../assets/media/image/portfolio-three.jpg"
                                          class="w-100 border-radius-1"
                                          alt="image"
                                        />
                                      </figure>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="timeline-item">
                                <div>
                                  <figure
                                    class="avatar avatar-sm mr-3 bring-forward"
                                  >
                                    <span
                                      class="avatar-title bg-youtube rounded-circle"
                                      >Y</span
                                    >
                                  </figure>
                                </div>
                                <div>
                                  <h6 class="d-flex justify-content-between">
                                    <span>
                                      <a href="#">Jonny Richie</a> shared video
                                    </span>
                                    <span class="text-muted font-weight-normal"
                                      >Tue 8:17pm</span
                                    >
                                  </h6>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Iusto, placeat.
                                  </p>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div
                                        class="embed-responsive embed-responsive-16by9 m-t-b-5"
                                      >
                                        <iframe
                                          class="embed-responsive-item"
                                          src="https://www.youtube.com/embed/l-epKcOA7RQ"
                                          allowfullscreen
                                        ></iframe>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="tab-pane fade"
                        id="connections"
                        role="tabpanel"
                      >
                        <div class="card">
                          <div class="card-body">
                            <h6 class="card-title">Connections</h6>
                            <div class="row">
                              <div class="col-lg-6 col-md-12">
                                <div class="card border shadow-none">
                                  <div class="card-body p-3">
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <figure class="avatar mr-3">
                                          <img
                                            src="../../assets/media/image/user/women_avatar1.jpg"
                                            class="rounded-circle"
                                            alt="..."
                                          />
                                        </figure>
                                      </div>
                                      <div>
                                        <p class="mb-0">Rosemary Krout</p>
                                        <p
                                          class="small text-muted mb-0 line-height-15"
                                        >
                                          Team Leader
                                        </p>
                                      </div>
                                      <a
                                        href="#"
                                        class="ml-auto"
                                        title="Message"
                                        data-toggle="tooltip"
                                      >
                                        <i data-feather="message-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="card border shadow-none">
                                  <div class="card-body p-3">
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <figure class="avatar mr-3">
                                          <img
                                            src="../../assets/media/image/user/man_avatar1.jpg"
                                            class="rounded-circle"
                                            alt="..."
                                          />
                                        </figure>
                                      </div>
                                      <div>
                                        <p class="mb-0">Miller Edwins</p>
                                        <p
                                          class="small text-muted mb-0 line-height-15"
                                        >
                                          Team Leader
                                        </p>
                                      </div>
                                      <a
                                        href="#"
                                        class="ml-auto"
                                        title="Message"
                                        data-toggle="tooltip"
                                      >
                                        <i data-feather="message-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="card border shadow-none">
                                  <div class="card-body p-3">
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <figure class="avatar mr-3">
                                          <img
                                            src="../../assets/media/image/user/man_avatar2.jpg"
                                            class="rounded-circle"
                                            alt="..."
                                          />
                                        </figure>
                                      </div>
                                      <div>
                                        <p class="mb-0">Cahra Smiz</p>
                                        <p
                                          class="small text-muted mb-0 line-height-15"
                                        >
                                          Agent
                                        </p>
                                      </div>
                                      <a
                                        href="#"
                                        class="ml-auto"
                                        title="Message"
                                        data-toggle="tooltip"
                                      >
                                        <i data-feather="message-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="card border shadow-none">
                                  <div class="card-body p-3">
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <figure class="avatar mr-3">
                                          <img
                                            src="../../assets/media/image/user/women_avatar4.jpg"
                                            class="rounded-circle"
                                            alt="..."
                                          />
                                        </figure>
                                      </div>
                                      <div>
                                        <p class="mb-0">Burgess Attwool</p>
                                        <p
                                          class="small text-muted mb-0 line-height-15"
                                        >
                                          Contact
                                        </p>
                                      </div>
                                      <a
                                        href="#"
                                        class="ml-auto"
                                        title="Message"
                                        data-toggle="tooltip"
                                      >
                                        <i data-feather="message-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="card border shadow-none">
                                  <div class="card-body p-3">
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <figure class="avatar mr-3">
                                          <img
                                            src="../../assets/media/image/user/women_avatar2.jpg"
                                            class="rounded-circle"
                                            alt="..."
                                          />
                                        </figure>
                                      </div>
                                      <div>
                                        <p class="mb-0">Allx Life</p>
                                        <p
                                          class="small text-muted mb-0 line-height-15"
                                        >
                                          Agent
                                        </p>
                                      </div>
                                      <a
                                        href="#"
                                        class="ml-auto"
                                        title="Message"
                                        data-toggle="tooltip"
                                      >
                                        <i data-feather="message-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="card border shadow-none">
                                  <div class="card-body p-3">
                                    <div class="d-flex align-items-center">
                                      <div>
                                        <figure class="avatar mr-3">
                                          <img
                                            src="../../assets/media/image/user/women_avatar3.jpg"
                                            class="rounded-circle"
                                            alt="..."
                                          />
                                        </figure>
                                      </div>
                                      <div>
                                        <p class="mb-0">Marti Sorbey</p>
                                        <p
                                          class="small text-muted mb-0 line-height-15"
                                        >
                                          Contact
                                        </p>
                                      </div>
                                      <a
                                        href="#"
                                        class="ml-auto"
                                        title="Message"
                                        data-toggle="tooltip"
                                      >
                                        <i data-feather="message-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="earnings" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h6 class="card-title mb-0">Earnings</h6>
                          </div>
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead class="thead-light">
                                <tr>
                                  <th>Date</th>
                                  <th>Item Sales Count</th>
                                  <th>Earnings</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>monday, 12</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$400</td>
                                </tr>
                                <tr>
                                  <td>tuesday, 13</td>
                                  <td>
                                    2
                                  </td>
                                  <td>$400</td>
                                </tr>
                                <tr>
                                  <td>wednesday, 14</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$420</td>
                                </tr>
                                <tr>
                                  <td>thursday, 15</td>
                                  <td>
                                    5
                                  </td>
                                  <td>$500</td>
                                </tr>
                                <tr>
                                  <td>friday, 15</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$400</td>
                                </tr>
                                <tr>
                                  <td>saturday, 16</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$400</td>
                                </tr>
                                <tr>
                                  <td>sunday, 17</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$400</td>
                                </tr>
                                <tr>
                                  <td>monday, 18</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$500</td>
                                </tr>
                                <tr>
                                  <td>tuesday, 19</td>
                                  <td>
                                    3
                                  </td>
                                  <td>$400</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <th></th>
                                  <th>28</th>
                                  <th>$3720</th>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- begin::footer -->
          <footer class="content-footer">
            <div>
               2020 Nago -
              <a href="http://laborasyon.com/" target="_blank">Laborasyon</a>
            </div>
            <div>
              <nav class="nav">
                <a
                  href="https://themeforest.net/licenses/standard"
                  class="nav-link"
                  >Licenses</a
                >
                <a href="#" class="nav-link">Change Log</a>
                <a href="#" class="nav-link">Get Help</a>
              </nav>
            </div>
          </footer>
          <!-- end::footer -->
        </div>
      </div>
    </div>
    <!-- end::main -->

    <!-- Plugin scripts -->
    <script src="../../vendors/bundle.js"></script>

    <!-- App scripts -->
    <script src="../../assets/js/app.min.js"></script>
  </body>

  <!-- Mirrored from nago.laborasyon.com/demos/layouts/boxed-layout/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2020 21:51:46 GMT -->
</html>
