<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>TeckMeadow</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

  <!-- Plugin styles -->
  <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

  <!-- Datatable -->
  <link rel="stylesheet" href="/vendors/dataTable/datatables.min.css" type="text/css" />

  <!-- App styles -->
  <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
  <script>
      <%if (error && error.length > 0) {%>
             var error = " <%=error%>";
            <%}%> <%if (message && message.length > 0) {%>
              var message = " <%=message%>";
            <%}%>
  </script>
</head>

<body class="boxed-layout">
  <!-- begin::preloader-->
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>
  <!-- end::preloader -->

  <!-- BEGIN: Sidebar Group -->
  <div class="sidebar-group">
    <!-- BEGIN: User Menu -->
    <div class="sidebar" id="user-menu">
      <div class="py-4 text-center" data-backround-image="/assets/media/image/image1.jpg">
        <figure class="avatar avatar-lg mb-3 border-0">
          <img src="/uploads/<%=currentUser.image%>" class="rounded-circle" alt="image" />
        </figure>
        <h5 class="d-flex align-items-center justify-content-center">
          <%=currentUser.firstname%>&nbsp;<%=currentUser.lastname%>
        </h5>
        <div> <strong><%=currentUser.country%></strong></div>
      </div>
      <div class="card mb-0 card-body shadow-none">
        <div class="mb-4">
          <div class="list-group list-group-flush">
            <a href="/user/profile" class="list-group-item p-l-r-0">Profile</a>
            <a href="/user/logout" class="list-group-item p-l-r-0 text-danger">Log
              Out!</a>
          </div>
        </div>

      </div>
    </div>
    <!-- END: User Menu -->

    <!-- BEGIN: Settings -->

    <!-- END: Settings -->
  </div>
  <!-- END: Sidebar Group -->

  <!-- begin::main -->
  <div class="layout-wrapper">
    <!-- begin::header -->
    <div class="header d-print-none">
      <div class="header-left">
        <div class="navigation-toggler">
          <a href="#" data-action="navigation-toggler">
            <i data-feather="menu"></i>
          </a>
        </div>
        <div class="header-logo">
          <a href="/">
            <img class="logo" src="/assets/media/image/logo.png" alt="logo" />
            <img class="logo-light" src="/assets/media/image/logo-light.png" alt="light logo" />
          </a>
        </div>
      </div>

      <div class="header-body">
        <div class="header-body-left">
          <div class="page-title">
            <h4>Projects Awaiting Payment</h4>
          </div>
        </div>
        <div class="header-body-right">
          <ul class="navbar-nav">
            <!-- begin::header fullscreen -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                <i class="maximize" data-feather="maximize"></i>
                <i class="minimize" data-feather="minimize"></i>
              </a>
            </li>
            <!-- end::header fullscreen -->

            <!-- begin::header search -->

            <!-- end::header search -->

            <!-- begin::apps -->

            <!-- end::apps -->

            <!-- begin::header messages dropdown -->

            <!-- END: Cart -->

            <!-- begin::settings -->

            <!-- end::settings -->

            <!-- begin::user menu -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" title="User menu" data-sidebar-target="#user-menu">
                <span class="mr-2 d-sm-inline d-none"><%=currentUser.username%></span>
                <figure class="avatar avatar-sm">
                  <img src="/uploads/<%=currentUser.image%>" class="rounded-circle" alt="avatar" />
                </figure>
              </a>
            </li>
            <!-- end::user menu -->
          </ul>

          <!-- begin::mobile header toggler -->
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
              <a href="#" class="nav-link">
                <i data-feather="arrow-down"></i>
              </a>
            </li>
          </ul>
          <!-- end::mobile header toggler -->
        </div>
      </div>
    </div>
    <!-- end::header -->

    <div class="content-wrapper">
      <!-- begin::navigation -->
      <div class="navigation">
        <div class="navigation-menu-tab">
          <ul>

            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Projects" data-nav-target="#projects">
                <i data-feather="briefcase"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Apps" data-nav-target="#apps">
                <i data-feather="globe"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="User" data-nav-target="#user">
                <i data-feather="users"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="navigation-menu-body">
          <div class="navigation-menu-group">

            <div id="projects">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="briefcase"></i> Projects
                </li>
                <li>
                  <a href="/user/project/" class="">All Projects</a>
                </li>
                <li>
                  <a href="/user/project/status/completed">Completed Projects</a>
                </li>
                <li>
                  <a href="/user/project/status/awaitingPayment" class="active">Projects Awaiting Payment</a>
                </li>
                <li>
                  <a href="/user/project/status/submitted">Projects Submitted by Employees</a>
                </li>
                <li>
                  <a href="/user/project/status/ongoing">Ongoing Projects</a>
                </li>
                <li>
                  <a href="/user/project/status/cancelled">Cancelled Project</a>
                </li>
              </ul>
            </div>
            <div id="apps">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="globe"></i> Apps
                </li>
                <li>
                  <a href="/">
                    <span>Chat</span>
                  </a>
                </li>

              </ul>
            </div>
            <div id="user">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="users"></i> User
                </li>
                <li>
                  <a href="/user/profile">Profile</a>
                </li>
                

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- end::navigation -->

      <div class="content-body">
        <div class="content">
          <%if(error && error.length>0){%>
          <div class="text-center alert alert-danger" role="alert">
            <%=error%>
          </div>
          <%}%> <%if(message && message.length>0){%>
          <div class="text-center alert alert-success" role="alert">
            <%=message%>
          </div>
          <%}%>

            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="project-list" class="table table-lg">
                        <thead>
                          <tr>
                            <th>Project Title</th>
                            <th class="text-center">Payment</th>
                            <th class="text-center">Employee</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Started Date</th>
                            <th class="text-center">Due Date</th>
                            <th class="text-center">Completion Date</th>
                            <th class="text-center">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%for(var i =projects.length -1;i>=0;i--){var project
                          = projects[i]%>
          <%if(project.status=="awaitingPayment"){%>
          <tr>
            <td>
              <a href="/user/project/<%=project._id%>"><%=project.title%></a>
            </td>
            <td class="text-center">
              <%=project.price%>&nbsp;Rs/-
            </td>
            <td class="text-center">
              <div class="avatar-group">
                <figure class="avatar avatar-sm">
                  <a href="#" title="<%=project.employee.username%>" data-toggle="tooltip">
                    <img src="/uploads/<%=project.employee.image%>" class="rounded-circle" alt="avatar" />
                  </a>
                </figure>
              </div>
            </td>
            <td class="text-center">
              <%if(project.status == "ongoing"){%>
                <span class="badge bg-info-bright text-info">In Progress</span>
                <%}else if(project.status == "completed"){%>
                <span class="badge bg-info-bright text-success">Completed</span>
                <%}else if(project.status == "awaitingPayment"){%>
                <span class="badge bg-info-bright text-success">Awaiting Payment</span>
                <%}else if(project.status == "submitted"){%>
                <span class="badge bg-info-bright text-success">Submitted</span>
                <%}else{%>
                <span class="badge bg-danger-bright text-danger">Cancelled</span>
                <%}%>
                            </td>
                            <td class="text-info">
                              <%=project.dated.toDateString()%>
            </td>
            <td class="text-danger">
              <%=project.dueDate.toDateString()%>
            </td>
            <%if(project.status == "completed"){%>
            <td class="text-success">
              <%=project.completionDate.toDateString()%> <%}%>
                            </td>

                            <td class="text-light">Not declared yet</td>
                            <td>
                              <%if(project.status =="awaitingPayment"){%>
              <a href="/user/project/<%=project._id%>/completed" class="text-success ml-2" data-toggle="tooltip"
                title="Mark Payment as Complete">
                <i class=" fas fa-money-bill-wave"></i>
              </a>
              <%}%> <%if(project.status =="ongoing"){%>
              <a href="/user/project/<%=project._id%>/submitted" class="text-success ml-2" data-toggle="tooltip"
                title="Submit the Project">
                <i class=" fas fa-check"></i>
              </a>
              <a href="/user/project/<%=project._id%>/cancelled" class="text-warning ml-2" data-toggle="tooltip"
                title="Cancel the Project">
                <i class=" fas fa-window-close"></i>
              </a>
              <%}%>
                              
            </td>
          </tr>
          <%};%> <%};%>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- begin::footer -->
  <footer class="content-footer">
    <div>© 2020 TeckMeadow - Dashboard</a></div>

  </footer>
  <!-- end::footer -->
  </div>
  </div>
  </div>
  <!-- end::main -->

  <!-- Plugin scripts -->
  <script src="/vendors/bundle.js"></script>

  <!-- Datatable -->

  <!-- App scripts -->
  <script src="/assets/js/app.min.js"></script>
</body>

</html>