<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>TeckMeadow</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

  <!-- Plugin styles -->
  <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

  <!-- App styles -->
  <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
  <script>
      <%if (error && error.length > 0) {%>
             var error = " <%=error%>";
            <%}%> <%if (message && message.length > 0) {%>
              var message = " <%=message%>";
            <%}%>
  </script>
</head>

<body class="boxed-layout">
  <!-- begin::preloader-->
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>
  <!-- end::preloader -->

  <!-- BEGIN: Sidebar Group -->
  <div class="sidebar-group">
    <!-- BEGIN: User Menu -->
    <div class="sidebar" id="user-menu">
      <div class="py-4 text-center" data-backround-image="/assets/media/image/image1.jpg">
        <figure class="avatar avatar-lg mb-3 border-0">
          <img src="/uploads/<%=currentUser.image%>" class="rounded-circle" alt="image" />
        </figure>
        <h5 class="d-flex align-items-center justify-content-center">
          <%=currentUser.firstname%>&nbsp;<%=currentUser.lastname%>
        </h5>
        <div> <strong><%=currentUser.country%></strong></div>
      </div>
      <div class="card mb-0 card-body shadow-none">
        <div class="mb-4">
          <div class="list-group list-group-flush">
            <a href="/user/profile" class="list-group-item p-l-r-0">Profile</a>
            <a href="/user/logout" class="list-group-item p-l-r-0 text-danger">Log
              Out!</a>
          </div>
        </div>

      </div>
    </div>
    <!-- END: User Menu -->

    <!-- BEGIN: Settings -->

    <!-- END: Settings -->
  </div>
  <!-- END: Sidebar Group -->

  <!-- begin::main -->
  <div class="layout-wrapper">
    <!-- begin::header -->
    <div class="header d-print-none">
      <div class="header-left">
        <div class="navigation-toggler">
          <a href="#" data-action="navigation-toggler">
            <i data-feather="menu"></i>
          </a>
        </div>
        <div class="header-logo">
          <a href="/">
            <img class="logo" src="/assets/media/image/logo.png" alt="logo" />
            <img class="logo-light" src="/assets/media/image/logo-light.png" alt="light logo" />
          </a>
        </div>
      </div>

      <div class="header-body">
        <div class="header-body-left">
          <div class="page-title">
            <h4>Project</h4>
          </div>
        </div>
        <div class="header-body-right">
          <ul class="navbar-nav">
            <!-- begin::header fullscreen -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                <i class="maximize" data-feather="maximize"></i>
                <i class="minimize" data-feather="minimize"></i>
              </a>
            </li>
            <!-- end::header fullscreen -->

            <!-- begin::header search -->

            <!-- end::header search -->

            <!-- begin::apps -->

            <!-- end::apps -->

            <!-- begin::header messages dropdown -->

            <!-- END: Cart -->

            <!-- begin::settings -->

            <!-- end::settings -->

            <!-- begin::user menu -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" title="User menu" data-sidebar-target="#user-menu">
                <span class="mr-2 d-sm-inline d-none"><%=currentUser.username%></span>
                <figure class="avatar avatar-sm">
                  <img src="/uploads/<%=currentUser.image%>" class="rounded-circle" alt="avatar" />
                </figure>
              </a>
            </li>
            <!-- end::user menu -->
          </ul>

          <!-- begin::mobile header toggler -->
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
              <a href="#" class="nav-link">
                <i data-feather="arrow-down"></i>
              </a>
            </li>
          </ul>
          <!-- end::mobile header toggler -->
        </div>
      </div>
    </div>
    <!-- end::header -->

    <div class="content-wrapper">
      <!-- begin::navigation -->
      <div class="navigation">
        <div class="navigation-menu-tab">
          <ul>

            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Projects" data-nav-target="#projects">
                <i data-feather="briefcase"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="Apps" data-nav-target="#apps">
                <i data-feather="globe"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="right" title="User" data-nav-target="#user">
                <i data-feather="users"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="navigation-menu-body">
          <div class="navigation-menu-group">

            <div id="projects">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="briefcase"></i> Projects
                </li>
                <li>
                  <a href="/user/project/" class="active">All Projects</a>
                </li>
                <li>
                  <a href="/user/project/status/completed">Completed Projects</a>
                </li>
                <li>
                  <a href="/user/project/status/awaitingPayment">Projects Awaiting Payment</a>
                </li>
                <li>
                  <a href="/user/project/status/submitted">Projects Submitted by Employees</a>
                </li>
                <li>
                  <a href="/user/project/status/ongoing">Ongoing Projects</a>
                </li>
                <li>
                  <a href="/user/project/status/cancelled">Cancelled Project</a>
                </li>
              </ul>
            </div>
            <div id="apps">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="globe"></i> Apps
                </li>
                <li>
                  <a href="/">
                    <span>Chat</span>
                  </a>
                </li>

              </ul>
            </div>
            <div id="user">
              <ul>
                <li class="navigation-divider d-flex align-items-center">
                  <i class="mr-2" data-feather="users"></i> User
                </li>
                <li>
                  <a href="/user/profile">Profile</a>
                </li>
                

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end::navigation -->

      <div class="content-body">
        <div class="content">

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-lg-8 col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between mb-4">
                        <div class="d-flex">
                          <div>
                            <figure class="avatar mr-3">
                              <img src="/uploads/<%=project.employee.image%>" class="rounded" alt="..." />
                            </figure>
                          </div>
                          <div>
                            <h5 class="mt-0">
                              <%=project.title%>
                            </h5>
                            <%if(project.status == "ongoing"){%>
                            <span class="badge bg-info-bright text-info">In Progress</span>
                            <%}else if(project.status == "completed"){%>
                            <span class="badge bg-info-bright text-success">Completed</span>
                            <%}else if(project.status == "awaitingPayment"){%>
                            <span class="badge bg-info-bright text-success">Awaiting Payment</span>
                            <%}else{%>
                            <span class="badge bg-danger-bright text-danger">Cancelled</span>
                            <%}%>
                            </div>
                          </div>
                        </div>
                        <p>Project Description:</p>
                        <p>
                          <%=project.description%>
                            </p>
                            <p>Project Price: <span class="text-secondary"><%=project.price%> Rs/-</span></p>
                            <p>

                            </p>

                            <div class="row my-4">
                              <div class="col-md-4">
                                <p class="mb-2">Created:</p>
                                <div class="text-info">
                                  <%=project.dated.toDateString()%>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <p class="mb-2">Deadline:</p>
                                <div class="text-danger">
                                  <%=project.dueDate.toDateString()%>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <p class="mb-2">Completed:</p>
                                <div class="text-success">
                                  <%if(project.status == "completed"){%>
                                  <%=project.completionDate.toDateString()%>
                                  <%}else{%> Not there yet <%}%>
                            </div>
                          </div>
                        </div>
                        
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                          <%if(project.status=="ongoing"){%>
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex justify-content-between">
                                  <h6 class="card-title">Actions</h6>
                                </div>
                                <div>
                                   <%if(project.status =="ongoing"){%>
                                  <a href="/user/project/<%=project._id%>/submitted" class="text-success ml-2"
                                    data-toggle="tooltip" title="Mark Project as Finished">
                                    <i class=" fas fa-check"></i>
                                  </a>
                                  <a href="/user/project/<%=project._id%>/cancelled" class="text-warning ml-2"
                                    data-toggle="tooltip" title="Cancel the Project">
                                    <i class=" fas fa-window-close"></i>
                                  </a>
                                  <%}%>
                           
                                </div>
                              </div>
                            </div>
                          <%}%>

                          <div class="card">
                            <div class="card-body">
                              <h6 class="card-title">Attachment</h6>
                              <div class="" >
                                <ul class="list-group list-group-flush">
                                  <%project.files.forEach(file=>{%>
                                  <li class="list-group-item d-flex align-items-center pl-0 pr-0">
                                    <div>
                                      <figure class="avatar mr-3">
                                        <span class="avatar-title bg-success-bright text-success rounded">
                                          <i class="fas fa-file"></i>
                                        </span>
                                      </figure>
                                    </div>
                                    <div>
                                      <a href="/file/<%=file.path%>/download">
                                        <h6 class="mb-0 pl-4"><%=file.filename%></h6>
                                      </a>
                                    </div>
                                    <div class="ml-auto">
                                      <a href="/file/<%=file.path%>/download" class="text-primary" data-toggle="tooltip"
                                        title="Download">
                                        <i class="fas fa-download"></i>
                                      </a>
                                      
                                    </div>
                                  </li>
                                  <%});%>
                                </ul>
                              </div>
                              <div>
                                <%if(project.status=="ongoing"){%>
                                  <form enctype="multipart/form-data" action="/user/project/<%=project._id%>/addfile"
                                    class="mt-3" method="POST">
                                    <div class="input-group">
                                      <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="files" required
                                          multiple />
                                        <label class="custom-file-label" for="customFile">Add</label>
                                      </div>
  
                                      <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" id="button-addon1">
                                          Add
                                        </button>
                                      </div>
                                    </div>
                                  </form>
                                <%}%>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- begin::footer -->
                <footer class="content-footer">
                  <div>
                    © 2020 Nago -
                    <a href="http://laborasyon.com/" target="_blank">Laborasyon</a>
                  </div>
                  <div>
                    <nav class="nav">
                      <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                      <a href="#" class="nav-link">Change Log</a>
                      <a href="#" class="nav-link">Get Help</a>
                    </nav>
                  </div>
                </footer>
                <!-- end::footer -->
              </div>
            </div>
          </div>
          <!-- end::main -->

          <!-- Plugin scripts -->
          <script src="../../vendors/bundle.js"></script>

          <!-- Apex chart -->
          <script src="../../vendors/charts/apex/apexcharts.min.js"></script>

          <!-- Chartjs -->
          <script src="../../vendors/charts/chartjs/chart.min.js"></script>

          <!-- Circle progress -->
          <script src="../../vendors/circle-progress/circle-progress.min.js"></script>

          <!-- Datepicker -->
          <script src="../../vendors/datepicker/daterangepicker.js"></script>

          <!-- Peity -->
          <script src="../../vendors/charts/peity/jquery.peity.min.js"></script>
          <script src="../../assets/js/examples/charts/peity.js"></script>

          <!-- Dashboard scripts -->
          <script src="../../assets/js/examples/dashboard.js"></script>
          <div class="colors">
            <!-- To use theme colors with Javascript -->
            <div class="bg-primary"></div>
            <div class="bg-primary-bright"></div>
            <div class="bg-secondary"></div>
            <div class="bg-secondary-bright"></div>
            <div class="bg-info"></div>
            <div class="bg-info-bright"></div>
            <div class="bg-success"></div>
            <div class="bg-success-bright"></div>
            <div class="bg-danger"></div>
            <div class="bg-danger-bright"></div>
            <div class="bg-warning"></div>
            <div class="bg-warning-bright"></div>
          </div>

          <!-- App scripts -->
          <script src="/assets/js/app.min.js"></script>
</body>

<!-- Mirrored from nago.laborasyon.com/demos/layouts/boxed-layout/project-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2020 21:52:21 GMT -->

</html>